$white: #fff;
$black: #000;
$black2: #0D0D0C;
$black3: #333333;
$gray: #858585;
$gray2: #d8d8d8;
$gray3: #7E7E7E;
$gray4: #F3F6F6;
$gray5: #A2A5A5;
$purple: #5849f5;
$purple2: #7951f6;
$purple3: #A400F2;
$pink-purple: linear-gradient(270deg, #9E00FB 0%, #F9005B 100%);
$pink-purple2: linear-gradient(90deg, #F50065 0%, #AC00E5 100%);
$pink-purple3: linear-gradient(90deg, #F8005E 0%, #A200F6 100%);
$purple-pink: linear-gradient(90deg, #9E00FB 0%, #F9005B 100%);
$purple-pink2: linear-gradient(270deg, rgba(255, 0, 80, 0.9) 0%, rgba(155, 0, 255, 0.9) 100%);
$purple-pink3: linear-gradient(270deg, rgba(255, 0, 80, 0.9) 0%, rgba(155, 0, 255, 0.9) 100%);
$purple-pink4: linear-gradient(270deg, #F80060 0%, #A500F3 100%);
$purple-blue: linear-gradient(90deg, #9B01FF 30.21%, #2089FF 100%);
$blue-purple: linear-gradient(270deg, #9B01FF 2.73%, #2089FF 100%);
$blue-purple2: linear-gradient(90deg, #A207F0 0%, rgba(146, 11, 255, 0.72) 41.15%, rgba(27, 143, 255, 0.8) 100%);
$black-gray: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 32.52%, rgba(0, 0, 0, 0) 100%);
$black-gray2: linear-gradient(270deg, rgba(0, 0, 0, 0.8) 32.52%, rgba(0, 0, 0, 0) 100%);