@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&family=Roboto:wght@900&family=Rubik:wght@500;700&display=swap');
@import "~normalize.css/normalize.css";
@import "src/assets/styles/colors";
@import "src/assets/styles/variables";
@import "src/assets/styles/fonts";

html, body {
    overflow-x: hidden;
}

html {
  font-size: 10px
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 8px
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px
  }
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    outline: none;
    font-size: 22px;
    line-height: 1.2;

    @media (max-width: $desktop) {
      font-size: 16px;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main {
    flex-grow: 1;
    padding: 130px 0 0;

    @media (max-width: $desktop) {
        padding: 71px 0 0;
    }

    @media (max-width: $mobile) {
        padding: 0;
    }

    &.center {
      display: flex;
      justify-content: center;
    }
}

.link--embeded {
    padding: 0;
    font-size: 26px;
    line-height: 36px;
    text-decoration: none;
    color: $purple2;
    background: none;
    border: none;
    cursor: pointer;

    @media (max-width: $laptop) {
        font-size: 22px;
        line-height: 30px;
    }

    @media (max-width: $mobile) {
        font-size: 15px;
        line-height: 20px;
    }
}

.article {
  max-width: 900px;
  padding: 50px;
  text-align: left;

  p {
    padding: 15px 0;
  }

  h2 {
    padding: 20px 0 0;
  }

  ul {
    margin-left: 25px;

    li {
      list-style-type: disc;
      padding: 0 0 10px;
    }
  }
}
